<template>
    <div id="Book" class="display_container">
        <!--Modal add book start-->
        <div class="modal_add_book">
            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModallabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modal_head">
                                <h6 class="modal-title" id="addModallabel">ADD BOOKS</h6>
                                <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form>
                                <div class="modal-body">           
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input v-model="input.name" id="title" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="author">Author</label>
                                        <input v-model="input.author" id="author" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="copies">Copies</label>
                                        <input v-model="input.copies" id="copies" type="number" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select v-model="input.category_id" id="category" name="" class="form-control">
                                            <option v-for="category in categories" :key="category.id">{{ category.id }}: <span>{{ category.category }}</span></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                    <button @click="addBook()" data-dismiss="modal" type="submit" class="btn btn-outline-primary">Add</button>
                                </div>
                            </form>  
                        </div>
                    </div>
            </div>       
        </div>
        <!--Modal add book end-->


        <!--Modal edit book start-->
        <div class="modal_edit_book">
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="addModallabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modal_head">
                                <h6 class="modal-title" id="addModallabel">EDIT BOOKS</h6>
                                <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="">
                                <div class="modal-body">           
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input v-model="input.name" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="author">Author</label>
                                        <input v-model="input.author" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="copies">Copies</label>
                                        <input v-model="input.copies" type="number" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select v-model="input.category_id" id="category" name="" class="form-control">
                                            <option v-for="category in categories" :key="category.id">{{ category.id }}: <span>{{ category.category }}</span></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                    <button @click="editBook(editIndex)" data-dismiss="modal" type="submit" class="btn btn-outline-success">Update</button>
                                </div>
                            </form>  
                        </div>
                    </div>
            </div>       
        </div>
        <!--Modal edit book end-->


        <!--Modal delete book start-->
        <div class="modal_delete_book">
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModallabel" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="deleteModallabel">CONFIRMATION</h6>
                            <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this book?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cancel</button>
                            <button @click="deleteBook(deleteIndex)" data-dismiss="modal" type="button" class="btn btn-outline-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
        <!--Modal delete book end-->

        <div class="">
            <div class="modal fade" id="borrowBookModal" tabindex="-1" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title">BORROW BOOK</h6>
                            <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="category">Book Title</label>
                                <input disabled v-model="borrow.bookname" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Copies</label>
                                <input v-model="borrow.copies" type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="category">Patron ID</label>
                                <input v-model="borrow.patronid" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cancel</button>
                            <button @click="borrowBook()" data-dismiss="modal" type="button" class="btn btn-outline-success">Borrow</button>
                        </div>
                    </div>
                </div>
            </div>       
        </div>

        <div class="">
            <div class="modal fade" id="returnBookModal" tabindex="-1" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title">RETURN BOOK</h6>
                            <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="category">Book Title</label>
                                <input disabled v-model="borrow.bookname" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Copies</label>
                                <input v-model="borrow.copies" type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="category">Patron ID</label>
                                <input v-model="borrow.patronid" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cancel</button>
                            <button @click="returnBook()" data-dismiss="modal" type="button" class="btn btn-outline-success">Return</button>
                        </div>
                    </div>
                </div>
            </div>       
        </div>

        <!--start of Book display component-->
            <div class="display_area">
                <h4>BOOK MANAGEMENT</h4>
                <hr>
                <div class="table_container">
                    <button @click="clearInput()" class="btn btn-warning" data-toggle="modal" data-target="#addModal">Add Book</button>
                    <input class="form-control" type="text" placeholder="Search">
                    <!--start table-->
                        <table class="table-hover">
                            <thead>
                                <th>Name</th>
                                <th>Author</th>
                                <th>Copies</th>
                                <th>Category</th>
                                <th>Action</th>
                            </thead>
                            <!--SAMPLE DATA 1-->
                            <tr v-for="book in books" :key="book.id">
                                <td>{{ book.name }}</td>
                                <td>{{ book.author }}</td>
                                <td>{{ book.copies }}</td>
                                <td>{{ book.category_id }}</td>
                                <td style="width: 200px;">
                                    <div class="table_btn">
                                        <button @click="showEdit(book, book.id)" class="btn btn-warning" data-toggle="modal" data-target="#editModal"><img style="padding-top: 7px;" src="../../../assets/img/edit_light.png" alt=""></button>
                                        <button @click="showDelete(book.id)" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><img style="padding-top: 7px;" src="../../../assets/img/delete_light.png" alt=""></button>
                                        <button @click="showBorrow(book, book.id)" class="btn btn-success" data-toggle="modal" data-target="#borrowBookModal"><img style="padding-top: 7px;" src="../../../assets/img/borrow.png" alt=""></button>
                                        <button @click="showReturn(book, book.id)" class="btn btn-primary"  data-toggle="modal" data-target="#returnBookModal"><img style="padding-top: 7px;" src="../../../assets/img/return.png" alt=""></button>
                                    </div>
                                </td>
                            </tr> 
                        </table>
                    <!--end table-->
                </div>
            </div>
        <!--end of Book display component-->
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    export default{
       name: 'Book',
       data() {
         return {
             deleteIndex: '',
             editIndex: '',
             input: {
                editID: '',
                name: '',
                author: '',
                copies: '0',
                category_id: '',
             },
             borrow: {
                patronid: '',
                copies: '0',
                bookid: '',
                bookname: '',
             }
         }  
       },
       mounted() {
           this.$store.dispatch('fetchBooks');
           this.$store.dispatch('fetchPatrons');
           this.$store.dispatch('fetchCategories');
       },
       computed: {
            ...mapState(['books']),
            ...mapState(['patrons']),
            ...mapState(['categories'])
       },
       methods: {
           showDelete(id) {
                this.deleteIndex = id;
           },
           deleteBook(id){
                this.$store.dispatch('deleteBook', id);
           },
           showEdit(book, id) {
                this.editIndex = id;
                this.input.editID = id;
                this.input.name = book.name;
                this.input.author = book.author;
                this.input.copies = book.copies;
                this.input.category_id = book.category_id;
           },
           showBorrow(book, id) {
                this.borrow.bookid = id;
                this.borrow.bookname = book.name;
           },
           showReturn(book, id) {
                this.borrow.bookid = id;
                this.borrow.bookname = book.name;
           },
           editBook(){
                this.$store.state.book.name = this.input.name;
                this.$store.state.book.author = this.input.author;
                this.$store.state.book.copies = this.input.copies;
                this.$store.state.book.category_id = this.input.category_id;

                let a = this.input.category_id.split(":");
                console.log(a[0]);

                this.input.category_id = a[0];
                this.$store.state.book.category_id = a[0];

                if(this.input.name == ""){
                    this.warningMessage("Title Field is required");
                }
                if(this.input.author == ""){
                    this.warningMessage("Author Field is required");
                }
                if(this.input.copies == "0" || this.input.copies == ""){
                    this.warningMessage("Copies cannot be zero");
                }
                if(this.input.category_id == ""){
                     this.warningMessage("Category Field is required");
                }
                else{
                    this.successMessage("Updated Successfuly");
                    this.$store.dispatch('editBook', this.input);
                }
           },
           addBook(){
                this.$store.state.book.name = this.input.name;
                this.$store.state.book.author = this.input.author;
                this.$store.state.book.copies = this.input.copies;

                let a = this.input.category_id.split(":");
                console.log(a[0]);

                this.input.category_id = a[0];
                this.$store.state.book.category_id = a[0];
                if(this.input.name == ""){
                    this.warningMessage("Title Field is required");
                }
                if(this.input.author == ""){
                    this.warningMessage("Author Field is required");
                }
                if(this.input.copies == "0" || this.input.copies == ""){
                    this.warningMessage("Copies cannot be zero");
                }
                if(this.input.category_id == ""){
                     this.warningMessage("Category Field is required");
                }
                else{
                    this.successMessage("Added Successfuly");
                    this.$store.dispatch('addBook', this.input);
                }
           },
           clearInput(){
                this.input.name = '';
                this.input.author = '';
                this.input.copies = '0';
                this.input.category_id = '';
           },
           borrowBook(){
                console.log(this.borrow.bookid);
                console.log(this.borrow.patronid);
                console.log(this.borrow.bookname);
                console.log(this.borrow.copies);
                if(this.borrow.bookname == ""){
                    this.warningMessage("Book Name is required");
                }
                if(this.borrow.copies == "0"){
                    this.warningMessage("Book Copies is required");
                }
                if(this.borrow.patronid == ""){
                    this.warningMessage("Patron ID is required");
                }
                else{
                    this.$store.dispatch('borrowBook', this.borrow); 
                    this.successMessage("Borrowed Successfuly");
                }
           },
           returnBook(){
                console.log(this.borrow.bookid);
                console.log(this.borrow.patronid);
                console.log(this.borrow.bookname);
                console.log(this.borrow.copies);
                if(this.borrow.bookname == ""){
                    this.warningMessage("Book Name is required");
                }
                if(this.borrow.copies == "0"){
                    this.warningMessage("Book Copies is required");
                }
                if(this.borrow.patronid == ""){
                    this.warningMessage("Patron ID is required");
                }
                else{
                    this.$store.dispatch('returnBook', this.borrow);
                    this.successMessage("Returned Successfuly");
                }
           },
           successMessage(msg) {
                this.$toast.success(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
            warningMessage(msg) {
                this.$toast.warning(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
       }
    };
</script>