body{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(9, 9, 104);
    padding-top: 1%;
    width: 100%;
    padding-bottom: 2%;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 5px 10px rgba(100, 100, 100, 0.6);
}

.left_area img{
  width: 110px;
  height: 50px;
  margin-bottom: 20px;
}

.right_area h3{
font-size: 18px;
color: white;
margin-left: 12%;
margin-top: -50px;
}

.sidebar{
    background: rgb(238, 237, 237);
    margin-left: -26px;
    padding-top: 30px;
    position: fixed;
    width: 250px;
    height: 100%;
    box-shadow:inset 5px 10px 10px rgba(0, 0, 0, 0.075),  5px 0 10px rgba(100, 100, 100, 0.6);
}


.sidebar span{
    margin-right: 10px;
}

.sidebar img{
    margin-top: -6px;
    width: 15px;
    height: 15px;
}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h5{
    color: rgb(71, 71, 71);
    margin-bottom: 10px;
    font-size: 14px;
}

.sidebar hr{
    width: 200px;
}

.sidebar a{
    color: rgb(71, 71, 71);
    display: block;
    text-decoration: none;
    line-height: 37px;
    padding-left: 50px;
    font-size: 13px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background: rgb(151, 150, 150);
    text-decoration: none;
    color: #fff;
}

.sidebar p{
    color: rgb(71, 71, 71);
    display: block;
    line-height: 20px;
    padding-left: 50px;
    font-size: 13px;
}

.table_area{
    margin-left: 18.5%;
    margin-top: 1%;
    width: 80%;
    height: 50%;
    position: fixed;
}

.table_area h3{
    font-size: 23px;
    margin-top: 25px;
    color: rgb(78, 78, 78);
}

.table_container{
    padding:2%;
    background-color: rgb(238, 237, 237);
    width: 80%;
    height: 148%;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(100, 100, 100, 0.6);
}

.table_container a{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
}

.table_area a:hover{
    text-decoration: none;
    color: grey;
}

.add_btn{
    margin-left: -13px;
    width: 13%;
}

.table_container input{
    margin-left: 70%;
    margin-right: 1%;
    margin-top: -35px;
    margin-bottom: 20px;
    height: 25px;
    width: 30%;
}

.table_area img{
    margin-top: -9px;
    width: 15px;
    height: 20px;
}


table
{
    margin-top: 10px;
	  width: 100%;
	  border-collapse: collapse;
    text-align: left;
    box-shadow: 0 0 10px rgba(99, 95, 95, 0.6);
    -webkit-box-shadow: 0 0 20px rgba(99, 95, 95, 0.6);
}

thead{
    background-color: rgb(9, 9, 104);
}

th
{
    text-align: center;
	font-size: 15px;
	height: 32px;
    color: #fff;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

td{
	height: 30px;
    font-size: 15px;
    background-color: rgb(250, 250, 255);
    text-align: center;
}


.table_btn{
  line-height: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 35%;
  width: 50px;
}

.table_btn button{
  line-height: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 35%;
  width: 50px;
}


.modal_add_book input{
  margin-top: 10px;
  margin-bottom: 10px;
}


.modal_add_book label{
  font-family: san-serif;
}

.modal_delete_book p{
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
}

.modal_add_patron label{
  font-family: san-serif;
}

.modal_delete_patron p{
  font-size: 15px;
  margin-left: 10px;
  margin-top: 10px;
}
/*



.modal-open {
    overflow: hidden;
  }
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
  }
  .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
         -o-transition:      -o-transform .3s ease-out;
            transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
         -o-transform: translate(0, -25%);
            transform: translate(0, -25%);
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
  .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
  }
  .modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
  }
  .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  .modal-header .close {
    margin-top: -2px;
  }
  .modal-title {
    margin: 0;
    line-height: 1.42857143;
  }
  .modal-body {
    position: relative;
    padding: 15px;
  }
  .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }
  .modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
  }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
  }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0;
  }
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  @media (min-width: 768px) {
    .modal-dialog {
      width: 600px;
      margin: 30px auto;
    }
    .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
              box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    .modal-sm {
      width: 300px;
    }
  }
  @media (min-width: 992px) {
    .modal-lg {
      width: 900px;
    }
  }



  .modal-header:after,
  .modal-footer:after {
    clear: both;
  }

  .modal-header:before,
  .modal-header:after,
  .modal-footer:before,
  .modal-footer:after {
    display: table;
    content: " ";
  }


*/