<template>
    <div id="Dashboard" class="display_container">
        <!--start of dashboard display component-->
            <div class="display_area">
                <h4>DASHBOARD</h4>
                <hr>
                <div class="table_container_for_dashboard">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="chart_container">
                                <h5 class="text-muted chart_label">Popular Book Genre</h5>
                                <Doughnut/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="chart_container">
                                <h5 class="text-muted chart_label">Borrowed and Returned Book</h5>
                                <Bar/>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        <!--end of dashboard display component-->
    </div>
</template>

<script>
    import Doughnut from  './Doughnut.vue'
    import Bar from './Bar.vue'
    
    export default{
       name: 'Dashboard',
       components: {
           Doughnut,
           Bar
       }
    } 
</script>