<template>
    <chartjs-doughnut v-bind:labels="labels" v-bind:datasets="datasets" v-bind:option="option"></chartjs-doughnut>
</template>

<script>
export default {
    name: 'Doughnut',
    data() {
        return {
            labels: ["Romance","Thriller","Drama","Action","Fantasy"],
            datasets: [
                {
                    data: [20,30,45,53,24],
                    backgroundColor: [
                        "indigo", 
                        "gray",
                        "pink",
                        "blue",
                        "orange"
                    ]
                }
            ],
            option: {
                title: {
                    display: false,
                    position: "top",
                    text: "Most Popular Genre"                
                },
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true,
                            }
                        }
                    ]
                }
            }
        };
    }
}
</script>