<template>
    <div>
        <div id="Sidebar" class="sidebar_container">
            <!--start of header area-->
                <div class="header">
                    <img src="../../assets/img/logo.png">
                    <h5>Library Management System</h5>
                </div>
            <!--end of header area-->

            <!--start of sidebar area-->
                <div class="link_container">
                    <router-link to="/" exact><span><img class="sidebar_icons" src="../../assets/img/dashboard_dark.png"></span>Dashboard</router-link>
                    <router-link to="/patron" exact><span><img class="sidebar_icons" src="../../assets/img/patron_dark.png"></span>Patron Management</router-link>
                    <router-link to="/book" exact><span><img class="sidebar_icons" src="../../assets/img/book_dark.png"></span>Book Managment</router-link>
                    <router-link to="/settings" exact><span><img class="sidebar_icons" src="../../assets/img/setting_dark.png"></span>Settings</router-link>
                </div>
            <!--end of sidebar area-->
        </div>

        <div class="display_container">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default{  
        
    }
</script>