<template>
    <div id="Settings" class="display_container">

        <!--start of Settings display component-->
            <div class="display_area">
                <h4>SETTINGS</h4>
                <hr>
                <div class="table_container">

                </div>
            </div>
        <!--end of Settings display component-->
    </div>
</template>

<script>

    export default{
       name: 'Settings'
    }
</script>