<template>
    <div id="Patron" class="display_container">
        <div class="modal_add_patron">
            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModallabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="addModallabel">ADD PATRON</h6>
                                <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="POST">
                                <div class="modal-body">           
                                    <div class="form-group">
                                        <label for="name">Last Name</label>
                                        <input v-model="input.last_name" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">First Name</label>
                                        <input v-model="input.first_name" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Middle Name</label>
                                        <input v-model="input.middle_name" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <input v-model="input.email" type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                    <button @click="addPatron()" type="submit" class="btn btn-outline-success" data-dismiss="modal">Save</button>
                                </div>
                            </form>  
                        </div>
                    </div>
            </div>       
        </div>
        <div class="modal_add_patron">
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="addModallabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="addModallabel">ADD PATRON</h6>
                                <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="POST">
                                <div class="modal-body">           
                                    <div class="form-group">
                                        <label for="name">Last Name</label>
                                        <input v-model="input.last_name" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">First Name</label>
                                        <input v-model="input.first_name" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Middle Name</label>
                                        <input v-model="input.middle_name" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <input v-model="input.email" type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                    <button @click="editPatron(editIndex)" type="submit" class="btn btn-outline-success" data-dismiss="modal">Save</button>
                                </div>
                            </form>  
                        </div>
                    </div>
            </div>       
        </div>
        <div class="modal_delete_patron">
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModallabel" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="deleteModallabel">CONFIRMATION</h6>
                            <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this entry?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cancel</button>
                            <button v-on:click="deletePatron(deleteIndex)" type="button" class="btn btn-outline-danger" data-dismiss="modal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
            <div class="display_area">
                <h4>PATRON MANAGEMENT</h4>
                <hr>
                <div class="table_container">
                    <button @click="clearInput()" class="btn btn-warning" data-toggle="modal" data-target="#addModal">Add Patron</button>
                    <input class="form-control" type="text" placeholder="Search">
                        <table class="table-hover">
                            <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Date Registered</th>
                                <th>Action</th>
                            </thead>
                            <tr v-for="patron in patrons" :key="patron.id">
                                <td>{{ patron.id }}</td>
                                <td>{{ patron.last_name }}, {{ patron.first_name }} {{ patron.middle_name }}</td>
                                <td>{{ patron.email }}</td>
                                <td>{{ patron.created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }}</td>
                                <td style="width: 200px;">
                                    <div class="table_btn">
                                        <button v-on:click="showEditModal(patron, patron.id)" class="btn btn-warning" data-toggle="modal" data-target="#editModal"><img style="padding-top: 7px;" src="../../../assets/img/edit_light.png" alt=""></button>
                                        <button v-on:click="showDeleteModal(patron.id)" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><img style="padding-top: 7px;" src="../../../assets/img/delete_light.png" alt=""></button>
                                    </div>
                                </td>
                            </tr> 
                        </table>
                </div>
            </div>
    </div>
</template>
<script>

</script>

<script>
    import { mapState } from 'vuex';
    import Vue from 'vue';
    Vue.use(require('vue-moment'));
    
    export default{
        name: 'Patron',
        data() {
            return {
                input: {
                    editID: '',
                    last_name: '',
                    first_name: '',
                    middle_name: '',
                    email: '',
                },
                deleteIndex: '',
                editIndex: '',
            }
        },
        mounted() {
           this.$store.dispatch('fetchPatrons');
       },
       computed: {
            ...mapState(['patrons'])
       },
        methods: {
            addPatron() {
                this.$store.state.patron.last_name = this.input.last_name;
                this.$store.state.patron.first_name = this.input.first_name;
                this.$store.state.patron.middle_name = this.input.middle_name;
                this.$store.state.patron.email = this.input.email;
                
                if(this.input.first_name == ""){
                    this.warningMessage("First Name field is required");
                }
                if(this.input.last_name == ""){
                    this.warningMessage("Last Name field is required");
                }
                if(this.input.middle_name == ""){
                    this.warningMessage("Middle Name field is required");
                }
                if(this.input.email == ""){
                    this.warningMessage("Email field is required");
                }
                else{
                    this.successMessage("Added Successfuly");
                    this.$store.dispatch('addPatron', this.input);
                }
                
            },
            showEditModal(patron, id) {
                this.editIndex = id;
                this.input.editID = id;
                this.input.last_name = patron.last_name,
                this.input.first_name = patron.first_name;
                this.input.middle_name = patron.middle_name;
                this.input.email = patron.email;
            },
            editPatron() {
                this.$store.state.patron.last_name = this.input.last_name;
                this.$store.state.patron.first_name = this.input.first_name;
                this.$store.state.patron.middle_name = this.input.middle_name;
                this.$store.state.patron.email = this.input.email;
                if(this.input.first_name == ""){
                    this.warningMessage("First Name field is required");
                }
                if(this.input.last_name == ""){
                    this.warningMessage("Last Name field is required");
                }
                if(this.input.middle_name == ""){
                    this.warningMessage("Middle Name field is required");
                }
                if(this.input.email == ""){
                    this.warningMessage("Email field is required");
                }
                else{
                    this.successMessage("Updated Successfuly");
                    this.$store.dispatch('editPatron', this.input);
                }
                
                
            },
            showDeleteModal(id) {
                this.deleteIndex = id;
            },
            deletePatron(id) {
                this.$store.dispatch('deletePatron', id);
            },
            clearInput() {
                this.input.last_name = "";
                this.input.first_name = "";
                this.input.middle_name = "";
                this.input.email = "";
            },
            successMessage(msg) {
                this.$toast.success(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                });
            },
            warningMessage(msg) {
                this.$toast.warning(msg, {
                    position: "top-right",
                    timeout: 3000,
                    closeOnClick: true,
                    pauseOnFocusLoss: false,
                    pauseOnHover: true,
                    draggable: true,
                    draggablePercent: 0.6,
                    showCloseButtonOnHover: false,
                    hideProgressBar: true,
                    closeButton: "button",
                    icon: true,
                    rtl: false,
                }),
                this.clearInput();
            },
        }

    };
</script>